{% extends "layout.jinja2" %}
{% block body %}
    <div>
        <form method="get" accept-charset="utf-8">
        <h4 class="entry">{{ entry.title }}</h4>
        <p class="date">{{ entry.date }}</p><hr class="entry"align="left">
        <p>{{ entry.body }}</p><hr class="entry"align="left">
        <a href="{{ request.route_url('edit', id=entry.id)}}">Edit</a>
        </form>
    </div>
{% endblock %}