{% macro lj_entry(entry) %}
<div class="row">
    <article>
        <h6 class="date">{{ entry.creation_date }}</h6>
        {% if entry.edit_date %}
            <h6 class="date edited">(<em>edited: </em>{{ entry.edit_date }})</h6>
        {% endif %}
        <a href="{{ request.route_url('detail', id=entry.id) }}"><h4>{{ entry.title }}</h4></a>
    </article>
</div>
{% endmacro %}}